@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');


.fundo {
    background-color: #357DBC;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-y: -25px;
    position: relative;

    transition: 200ms;
}
.cabecalho {
  height: 223px;
  width: 100vw;
  background: #FFE99D;
  background-image: url('../../image/topo.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;

}
.alinhar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
}

.texto {
    margin-top: 2%;
    font-family: "Jaro", sans-serif;
    font-size: 25px;
}



.textdescricao {
    background-color: #FFFFFF;
    width: 296px;
    height: 243px;
    border: none;
    border-radius: 20px;
    color: #3C2A02;
    margin-top: 10px;

    font-size: 1.5rem;
    font-family: "Jaro";
    resize: none;
    overflow: none;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    outline: none;
}

.fundoBox {
    background: rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.veropsoes {
    width: 350px;
   
    background: white;
    border-radius: 15px;
    transition: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: geist;
    font-size: 15px;
    padding: 10px;
}
.inputVerSelCaixa {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.inputVerMenorSelCaixa {
    font-family: geist;
    width: 330px;
    height: 40px;
    border: 1px solid rgb(184, 184, 184);
    color: black;
    padding: 5px;
    border-radius: 10px;
    
    display: flex;
    justify-content: start;
    align-items: center;
}
.seguir, .seguirInativo {
    font-family: 'geist';
    font-size: 15px;
    background: #FAF3A8;
    color: #3C2A02;
    border-radius: 20px;
    padding: 7px 20px;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 290px;
    height: 50px;
    font-size: 1.5rem;
    font-family: "Jaro";
    position: absolute;
    bottom: 100px;
    left: calc(100vw / 2 - 145px);
}
.seguir {
    cursor: pointer;
}
.seguirInativo {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}


/*CALENDARIO*/

.dayPicker {
  background: #ffffff;
  border-radius: 20px;
  padding: 16px;
  font-family: 'Geist';
  font-size: 1.2rem;
  color: #000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.caption {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navButton {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.table {
  width: 100%;
}

.headCell {
  font-size: 1rem;
  font-weight: 300;
  color: #555;
}

.cell {
  padding: 4px;
}

.day {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.day:hover {
  background: #dbeeff;
}

.daySelected {
 background: #e63946;
  color: white;
  border-radius: 10px;
}

.dayToday {
  border: 2px solid #4da6ff;
}

.dayOutside {
  color: #bbb;
}

.dayDisabled {
  color: #ccc;
  cursor: not-allowed;
}

.footer {
  margin-top: 12px;
  font-size: 1rem;
  color: #333;
}