@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');


.alinhar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


.botoes {
    font-family: "Jaro";
    font-size: 1.6rem;
    margin-top: 20px;
    background-color: #FFFFFF;
    color: #3C2A02;
    width: 234px;
    height: 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.botoes:hover {
    background-color: rgb(240, 240, 240);
    scale: 0.98;
}
.selecionadoBotao {
    background-color: #FAF3A8;
    scale: 0.98;
}
.preco {
    font-family: "Jaro";
    font-size: 1.6rem;
    margin-left: 10px;
    position: relative; top: 5px;
}