
.corDeFundo {
    display: flex;
    flex-direction: row;
    background-color: #357DB7; 
    width: 1000vh; 
    height: 980px; 
}


.corDeFundoAmarela {
    display: flex;
    flex-direction: column;
    background-color: #FFE99D; 
    width: 90vh;
    height: 980px;
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
    background-image: url("../app/image/Framee.png");
    background-repeat: no-repeat;
    background-position: -17px;
    background-position-y: 308px;
    
}

.corAmareloInvertido {
    display: flex;
    flex-direction: row;
    background-color: #FFE99D; 
    width: 100vw; 
    height: 100vh; 
    background-image: url("../app/image/cachorro.png");
    background-repeat: no-repeat;
    background-position-x: 90vw;
    background-position-y: 87vh;
    background-size: 20vh;
}

.corAzulInvertido {
    display: flex;
    flex-direction: column;
    background-color: #357DB7; 
    width: 40vw;
    height: 100vh;
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
}

.corDeFundoAmarela p {
    font-size: 20px;
    color: #333;
    margin: 0; 
}

.logoIMG {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FrameIMG {
  margin-left: 10%;
  display: flex;
}

.titulo {
  display: flex;
  align-items: center;
}

.texto {
  display: flex;
  flex-wrap: wrap;
}

.caixaDeTexto {
  background-color: #FEFFFF;
  width: 558px;
  height: 70px;
}