
.corDeFundo {
    background-color: #357DB7; 
    width: 100%; 
    height: 955px; 
}


.corDeFundoAmarela {
    background-color: #FFE99D; 
    width: 650px;  
    height: 955px; 
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
    background-image: url("../app/image/Framee.png");
    background-repeat: no-repeat;
    background-position: -17px;
    background-position-y: 308px;
    
}

.corDeFundoAmarela p {
    font-size: 20px;
    color: #333;
    margin: 0; 
}

.logoIMG {
  align-items: center;
  margin-left: 150%;
}

.FrameIMG {
  margin-left: 10%;
  display: flex;
  background-color: red;

}