@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.corDeFundo {
    display: flex;
    flex-direction: row;
    background-color: #357DB7; 
    width: 1000vh; 
    height: 980px; 
}


.corDeFundoAmarela {
    display: flex;
    flex-direction: column;
    background-color: #FFE99D; 
    width: 90vh;
    height: 980px;
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
    background-image: url("../image/Framee.png");
    background-repeat: no-repeat;
    background-position: -17px;
    background-position-y: 308px;
    
}

.corAmareloInvertido {
    display: flex;
    flex-direction: row;
    background-color: #FFE99D; 
    width: 100vw; 
    height: 100vh; 
    background-image: url("../image/Framee.png");
    background-repeat: no-repeat;
    background-position-x: 48vw;
    background-position-y: 49vh;
    background-size: 40vh;
}

.corAzulInvertido {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: #357DB7; 
  width: 60vw;
  height: 100vh;
  border-top-right-radius: 50px; 
  border-bottom-right-radius: 50px;
  padding-left: 4rem; 
}


.corDeFundoAmarela {
    font-size: 20px;
    color: #333;
    margin: 0; 
}

.logoIMG {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FrameIMG {
  margin-left: 10%;
  display: flex;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tituloCadastre { 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.botao {
  background-color: #57450a;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
}

.texto {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}

.caixaCentralizadaInicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

.caixaCentralizada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
  border: none;

}

.caixaDeTexto {
  display: flex;
  background-color: #FEFFFF;
  width: 558px;
  height: 70px;
  color: #000000;
  border-radius: 30px;
}

.radioLabel {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.radioLabel input[type="radio"] {
  margin-right: 8px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  margin-top: 40px;
}

/*Codigo apollo*/

.telaprincipal {
  height: 100vh;
  width: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cabecalho {
  height: 223px;
  width: 100vw;
  background: #FFE99D;
  background-image: url('../image/topo.png');
  background-repeat: no-repeat;
  background-position: center center;

}
.mainpage {
  background: #357DB7;
  flex: 1;
  flex-direction: column;
  align-items: start;
  position: relative;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;

  justify-content: space-around;
}
.add {
  font-family: geist;
  color: white;
  font-size: 4rem;
  background: rgb(71, 185, 255);
  border-radius: 100%;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 200ms;
}
.add:hover {
  scale: 1.05;
}