@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.corDeFundo {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    background-color: #357DB7; 
    width: 100vw;
    height: 100vh;
}

.corDeFundoAmarela {
  
    background-color: #FFE99D; 
    width: 40vw; 
    height: 100vh;
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
    background-repeat: no-repeat;
    background-size: 55vh;
 
    position: relative;

    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 20px;
    flex-direction: column-reverse;
    overflow: hidden;
}
.grandetexto {
    font-family: "JARO", serif;
    color: #3C2A02;
    font-size: 3rem;
}