@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.caixaCentralizada {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin:auto;
  user-select: none;
}

.caixaDeTexto {
  background-color: #FEFFFF;
  width: 558px;
  height: 70px;
  color: #3C2A02;
  border-radius: 25px;
  padding: 16px;
  border: none;
  outline: none;
  font-family: "jaro", serif;
  font-size: 1.5rem;
  background: white;
}
.inknut {
  font-family: "Inknut Antiqua", serif;
  user-select: none;
}
.botaoLogin {
  width: 450px;
  height: 50px;
  border-radius: 30px;
  background-color: #3C2A02;
  color: #FEFFFF;
  border: none;
  font-family: "Jaro", serif;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 200ms;
}

.botaoregistrar {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background-color: #3C2A02;
  color: #FFFFFF;
  border: none;
  font-family: "Jaro", serif;
  margin-top: 20px; 
  font-size: 1.3rem;
  cursor: pointer;
  transition: 200ms;
}

.botaoLogin:hover, .botaoregistrar:hover {
  background-color: #523404;
}

.tituloLogin {
  font-size: 28px;   
  margin-bottom: 20px; 
  text-align: center;
  font-family: "Inknut Antiqua", serif;
}

.caixaCentralizada {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}



.linkGoogle {
  margin-top: 100px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: none;
  color: #fff;  
  font-size: 20px;
 
  font-family:"Inknut Antiqua", serif;
  flex-wrap: wrap;
}

.iconGoogle {
  width: 50px;   
  height: 50px;
  cursor: pointer;
}

.blocoRegistrar {
  margin-top: 40px; 
  text-align: center;
  display: flex;
  flex-direction: column;
}
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalBox {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  font-family: Jaro, serif;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modalTitle {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 15px;
  color: black;
}

.modalText {
  font-size: 23px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.748);
}

.modalButton {
  font-family: Jaro, serif;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: black;
  color: white;
}

.loader {
    width: 48px;
    height: 48px;
    border: 7px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 