@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.corDeFundo {
    display: flex;
    flex-direction: row;
    background-color: #357DB7; 
    width: 1000vh; 
    height: 980px; 
}


.corDeFundoAmarela {
    display: flex;
    flex-direction: column;
    background-color: #FFE99D; 
    width: 90vh;
    height: 980px;
    border-top-right-radius: 50px; 
    border-bottom-right-radius: 50px;
    background-image: url("../image/Framee.png");
    background-repeat: no-repeat;
    background-position: -17px;
    background-position-y: 308px;
    
}

.corAmareloInvertido {
    display: flex;
    flex-direction: row;
    background-color: #FFE99D; 
    width: 100vw; 
    height: 100vh; 
    background-image: url("../image/Framee.png");
    background-repeat: no-repeat;
    background-position-x: 48vw;
    background-position-y: 49vh;
    background-size: 40vh;
}

.corAzulInvertido {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  background-color: #357DB7; 
  width: 60vw;
  height: 100vh;
  border-top-right-radius: 50px; 
  border-bottom-right-radius: 50px;
  padding-left: 4rem; 
}


.corDeFundoAmarela p {
    font-size: 20px;
    color: #333;
    margin: 0; 
}

.logoIMG {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.FrameIMG {
  margin-left: 10%;
  display: flex;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inknut Antiqua', serif;
  font-weight: 400;
  
}

.tituloCadastre { 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.botao {
  background-color: #3C2A02;
  width: 558px;
  height: 60px;
  border: none;
  border-radius: 20px;
  font-family: "jaro", serif;
  font-size: 1.5rem;
  transition: 200ms;
}
.botao:hover {
  background-color: #57450a;
  cursor: pointer;
}

/*.botaoInicial{
  background-color: #57450a;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
}
*/

.texto {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}

.caixaCentralizadaInicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

.caixaCentralizada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  border: none;

}

.caixaDeTexto {
  background-color: #FEFFFF;
  width: 558px;
  height: 70px;
  color: #3C2A02;
  border-radius: 25px;
  padding: 16px;
  border: none;
  outline: none;
  font-family: "jaro", serif;
  font-size: 1.5rem;
  background: white;
}

.radioLabel {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.radioLabel input[type="radio"] {
  margin-right: 8px;
}

.radioGroup {
  display: block;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border: none;
  margin-top: 40px;
  font-family: "Inknut Antiqua";
  gap: 0px;
}


.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalBox {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  font-family: Jaro, serif;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modalTitle {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 15px;
  color: black;
}

.modalText {
  font-size: 23px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.748);
}

.modalButton {
  font-family: Jaro, serif;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: black;
  color: white;
}