@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');


.fundo {
    background-color: #357DBC;
    width: 1000vw;
    height: 100vh;
    background-image: url('../image/topo.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -25px;

    transition: 200ms;
}

.alinhar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
}

.texto {
    margin-top: 2%;
    margin-left: 0.8%;
    font-family: "Jaro", sans-serif;
    font-size: 25px;
}

.botoes {
    margin-left: 0.5%;
    margin-top: 20px;
    width: 234px;
    height: 33px;
}


.textdescricao {
    background-color: #FFFFFF;
    width: 276px;
    height: 213px;
    border: none;
    border-radius: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 15px;
    font-family: geist;
    resize: none;
    overflow: none;
    padding: 5px;
    margin-bottom: 10px;
}

.fundoBox {
    background: rgba(0, 0, 0, 0.386);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.veropsoes {
    width: 350px;
   
    background: white;
    border-radius: 15px;
    transition: 200ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: geist;
    font-size: 15px;
    padding: 10px;
}
.inputVerSelCaixa {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.inputVerMenorSelCaixa {
    font-family: geist;
    width: 330px;
    height: 40px;
    border: 1px solid rgb(184, 184, 184);
    color: black;
    padding: 5px;
    border-radius: 10px;
    
    display: flex;
    justify-content: start;
    align-items: center;
}