@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');


.fundo {
    background-color: #357DBC;
    width: 1000vw;
    height: 100vh;
    background-image: url('../image/topo.png');
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: -25px;
}

.alinhar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2%;
}

.texto {
    margin-top: 2%;
    margin-left: 0.8%;
    font-family: "Jaro", sans-serif;
    font-size: 25px;
}

.alinharBotoes {
    display: flex;
    flex-direction: column; 
}

.botoes {
    margin-left: 0.5%;
    margin-top: 20px;
    background-color: #FFFFFF;
    color: black;
    width: 234px;
    height: 33px;
    border-radius: 20px;
    border: none;
}

.botoes:hover {
    background-color: #FAF3A8;
}

.textdescricao {
    background-color: #FFFFFF;
    width: 276px;
    height: 213px;
    border: none;
    border-radius: 20px;
    color: black;
    margin-top: 10px;
    margin-left: 25px;
}