@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.corDeFundoAmarela p {
    font-size: 20px;
    color: #333;
    margin: 0; 
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inknut Antiqua", serif;
  
}

.tituloCadastre { 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.botao {
  background-color: #3C2A02;
  width: 558px;
  height: 60px;
  border: none;
  border-radius: 30px;
  font-size: 2rem;
  font-family: "Jaro", serif;
  cursor: pointer;
  transition: 200ms;
}
.botao:hover {
  background-color: #523404;
}

/*.botaoInicial{
  background-color: #57450a;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
}
*/

.texto {
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}

.caixaCentralizadaInicio {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

.caixaCentralizada {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  border: none;

}

.caixaDeTexto {
  display: flex;
  background-color: #FEFFFF;
  width: 558px;
  height: 70px;
  color: #3C2A02;;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  font-family: "jaro", serif;
  font-size: 1.5rem;
}

.radioLabel {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.radioLabel input[type="radio"] {
  margin-right: 8px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
  margin-top: 40px;
}


.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalBox {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  font-family: Jaro, serif;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modalTitle {
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 15px;
  color: black;
}

.modalText {
  font-size: 23px;
  margin-bottom: 25px;
  color: rgba(0, 0, 0, 0.748);
}

.modalButton {
  font-family: Jaro, serif;
  font-size: 18px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: black;
  color: white;
}