@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');


.inicio {
  padding: 50px 0;
  margin-right: 20%;
}

.titulo {
  margin-top: calc(10vh*0.5);
  display: flex;
  justify-content: center;
  font-family: "Inknut Antiqua", serif;
  font-size: 50px;
}

.botao {
  background-color: #57450a;
  width: 500px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  border-radius: 20px;
  font-family:  "Inknut Antiqua", serif;
  cursor: pointer;
  transition: 200ms;
}
.botao:hover {
  scale: 1.01;
}

.caixaCentralizadaInicio {
  display: flex;
  justify-content: center; 
  align-items: center;
}
